
{% extends 'base.html' %}
<!--bloco da herança do head-->
  {% block head %}
    {{ super() }} 
  {% endblock %}

<!--bloco da herança -->
{% block content %}
  <div>
    <h2 class="tituloform">ERROR CSRF</h2>
    <h2 class="tituloform">ERROR CSRF:  {{reason}}</h2>   	
    
    <div>
    <!--<div class="container">-->  
    <h2 class="tituloform">{{result1}}</h2>   	
	{% for result1 in reason %}
     
				  <th class="txttitulolista">{{result1}}</th>

         

    
  {% endfor %}
</table>
</div> 
</div> 
</div>    
{% endblock %}
