<!DOCTYPE html>
<html lang="pt-br">
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/stylelogin.css">
    <title>Login</title>
</head>
<body>

  <main>

  <div class="container">
    <div class="elemento">
      <form id="LoginUsuarioForm" name="LoginUsuarioForm" action="/login" method="POST">
        {{ form.csrf_token }}
        <label for="login"></label>
        <p>
          <strong>Login</strong>
        </p>
        {{form.username(class = "campoformlogin")}}
          <!--<input class= "campoformlogin" type="text" name="email" id="email" />-->
        <p><strong>Senha</strong></p>
        {{form.password(class= "campoformlogin")}}
          <!--<input class= "campoformlogin" type="password" name="password" id="password" />-->
        <p>
          <input class= "botaologin" type="submit" name="login" id="login" value="Entrar" />
          <input class= "botaologin" type="reset" name="btLimpar" id="btLimpar" value="Limpar" />
        </p>
      </form>
    </div>
  </div>
</main>
</body>
</html>
