
<!--HERANÇA DA base.html -->
{% extends 'base.html' %}

<!--bloco da herança do head-->
  {% block head %}
    {{ super() }}

  {% endblock %}

<!--bloco da herança -->
{% block content %}

<div>
  <h2 class="tituloform">CADASTRO DE NOVO USUARIO</h2>
    
  <div>
    <form id="usuariosalvar" name="usuariosalvar" action="/usuariosalvar" method="POST">
      <!--<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>-->
  

      {{ form.csrf_token }}
      <label for="Nome" class="txttitulolista"></label>
      <p><strong>Nome: </strong></p>
        {{form.username(class = "campoformlogin")}}

       <p><strong>Senha: </strong></p>
        {{form.password(class= "campoformlogin")}}
      
        <p><strong>Email:</strong></p>
        {{form.email(class= "campoformlogin")}}
      <p>
        <input class= "botaonovo" type="submit" name="usuarioregistro" id="usuarioregistro" value="Salvar" />
      </p>
    </form>
  </div> 
</div> 
    
{% endblock %}
