
<!--HERANÇA DA base.html -->
{% extends 'base.html' %}

<!--bloco da herança do head-->
  {% block head %}
    {{ super() }}

  {% endblock %}

<!--bloco da herança -->
{% block content %}

<div>
  <h2 class="tituloform">ATUALIZA CADASTRO DE USUARIO</h2>
    
  <div>
    <form id="usuarioeditarsalvar" name="usuarioeditarsalvar" action="/usuarioeditarsalvar/{{form.id.data}}" method="POST">

      <!--<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>-->
      {{ form.csrf_token }}
      {{form.id()}}
      <!--{{form.id(value=form.id.data)}}-->
      <label for="Nome" class="txttitulolista"></label>
        
        <p><strong>Nome: </strong></p>
          {{form.username(class = "campoformlogin", value=form.username.data)}}
        
        <p><strong>Senha: </strong></p>
        {{form.password(class= "campoformlogin", value=form.password.data)}}
      
        <p><strong>Email:</strong></p>
        {{form.email(class= "campoformlogin", value=form.email.data)}}
        
        <p>
          <input class= "botaonovo" type="submit" name="usuarioeditarsalvar" id="usuarioeditarsalvar" value="Editar" />
        </p>
    </form>
  </div> 
</div> 
    
{% endblock %}
