{% extends 'base.html' %}


<!--bloco da herança do head-->
{% block head %}
  {{ super() }} 
{% endblock %}


<!--bloco da herança -->
{% block content %}
  <div>
    <h2 class="tituloform">CADASTRO DE USUÁRIOS</h2>
    
    <div>
    <!--<div class="container">-->  
      <form id="form2" name="form2" method="post" action="cadusuario"/>
        <label for="textfield2">NOME:</label>
          <input class="campoformbuscar"type="text" name="nomeusuario" id="nomeusuario" />
          <input class="botaolocalizar" type="submit" name="localizausuario" id="localizausuario" value="Localizar" />
      </form>

      <table <div class="container">   
	      <tr class="txttitulolista">
          <th>ID</th>
    	    <th>NOME</th>
    	    <th>EMAIL</th>
          <th>SENHA</th>
    	    <th>
    	      <form id="usuarioregistro" name="usuarioregistro" method="post" action="usuarioregistro">
              <input class="botaonovo" name="usuarioregistro" id="usuarioregistro" value="NOVO USUARIO" type="submit">              
          </form>
        </th>
 
	      {% for result1 in result %}
      
			    <tr class="txtlista">
           		<!--<th>{{result}}</th>-->
				    <th>{{result1['id']}}</th>
            <th>{{result1['username']}}</th>
            <th>{{result1['email']}}</th>
            <th>{{result1['password']}}</th>
            <th>
              <form id="form1" name="form1" method="post" action="usuarioeditar/{{result1['id']}}"/>
                <input class="botaoupdate"type="submit" name="usuarioedita" id="usuarioedita" value="EDITAR" />
              </form>
            </th>
            <th>
              <form id="form1" name="form1" method="post" action="usuarioapaga/{{result1['id']}}"/>
                <input class="botaodelete" type="submit" name="deletausuario" id="deletausuario" value="APAGAR" />
              </form>
            </th>
          </tr>
        {% endfor %}
      </table>
    </div> 
  </div> 
  
{% endblock %}
